.navbar{
  background-color: cyan;
  overflow: hidden;
}
.navbar a{
  float: left;
  color: darkcyan;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 18px; 
}
.navbar a:hover{
  background-color: thistle;
  color: darkmagenta;
}
.navbar a.active{
  background-color: rgb(218, 68, 163);
  color: white;
}


body{
  background-color: lightcyan;
}